<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IStockDirectory" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8700/StockService/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IStockDirectory" contract="StockService.IStockDirectory"
                name="NetTcpBinding_IStockDirectory">
                <identity>
                    <userPrincipalName value="DESKTOP-5B2GBV7\diogo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>