@{
    ViewBag.Title = "Stock Client";
}

<h3>New Order</h3>
<form>
    <label>Company</label>
    <input type="text" />

    <label>Quantity</label>
    <input type="number"/>

    <input type="radio" name="orderType" value=1 checked>Buy
    <input type="radio" name="orderType" value=2>Sell

    <button type="submit">Submit</button>
</form>